@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }
  .product {
    margin-top: auto;
  }
  .main-section {
    padding: 5%;
  }

  .product_ads {
    display: inherit;
  }

  .user_container {
    display: inherit;
  }
}
